version: '3.9'

services:
  db-dev: &db
    container_name: octopost-db-dev
    profiles:
      - dev
    image: postgres:alpine3.19
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'octopost'
      PGDATA: '/var/lib/postgresql/mydata'
    volumes:
      - db:/var/lib/postgresql/mydata
    networks:
      - octopost

  api:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: octopost-api
    profiles:
      - prod
    ports:
      - 3000:3000
    depends_on:
      - db-prod
    networks:
      - octopost

  db-prod:
    <<: *db
    container_name: octopost-db
    profiles:
      - prod


networks:
  octopost:
    driver: bridge

volumes:
  db:
