name: Build and Test

on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Setup deps
        uses: ./.github/actions/install-deps

      - name: Run unit Tests
        run: pnpm vitest --coverage --silent

      - name: 'Report Coverage'
        if: ${{ always() && !github.event.pull_request.head.repo.fork }}
        uses: davelosert/vitest-coverage-report-action@v2

      - name: 'Upload Coverage'
        if: ${{ always() && !github.event.pull_request.head.repo.fork }}
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Setup deps
        uses: ./.github/actions/install-deps

      - name: Build
        run: pnpm build
  integration-test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Run docker-compose in prod profile
        run: docker compose --profile prod up --build -d
